<div class="page-header">
  <h1>{{ page.header }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1><a style="margin-top:-32px;margin-right:-55px;" class="btn btn-custom pull-right" href="http://store.bazingalabs.com"><i class="icon-shopping-cart icon-white"></i> Store</a>
</div>

<div class="row">
  <div class="span10">
    {{ content }}
  </div>
  {% if page.image != nil %}
  <div class="span2">
  	<img src="{{ASSET_PATH}}twitter/images/{{ page.image }}" />
  </div>
  {% endif %}
</div>
